@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Martian+Mono:wght@100&family=Poppins&family=Press+Start+2P&family=Prompt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #090429f6;
    --font-color: #fff;
    --signup-btn-col: #000;

    /* ------land------------ */

    --forecast-bg-1: #f0f0f0;
    --forecast-bg-: #b091b3;
    --forecast-box-shadow: rgba(0, 0, 0, 0.25);
    --lan-bgimg: url("../assests/Cloud\ Your\ Story\ \(1980\ ×\ 1220px\).png");


}

.darktheme {
    --bg-color: #FEFAFA;
}

.nav-darktheme {
    --font-color: #000;
    --signup-btn-col: #fff
}

.land-darktheme {
    --font-color: #000;
    --lan-bgimg: url("../assests/Blue\ White\ Simple\ Cloud\ Photo\ Relax\ Phone\ Wallpaper\ \(1980\ ×\ 1220px\).png");
    /* color: #00000087; */
}

html {
    background-color: var(--bg-color);
    /* display: flex; */
}


.logo {
    width: 94px;
    /* margin-left: 4%; */
    height: auto;

}

.navbar {
    /* border: 1px solid white; */
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    position: relative;
    /* justify-content: space-between; */
}

#icon-nav {
    color: white;
    font-size: 30px;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
    display: none;


}

.navbar h2 {
    font-size: 1rem;
    margin-top: 1.6%;
    /* margin-left: 3%; */
    color: var(--font-color);
    line-height: 30px;
    letter-spacing: 0.105em;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.dark-light {
    width: 45px;
    height: 48px;
    margin-left: 75%;
    margin-top: 1.5%;
    filter: contrast(150%);
    cursor: pointer;

}

a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--font-color);
    font-size: 1.2rem;
}

nav {
    margin-top: 0.6%;
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.navdiv {
    padding: 1%;
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
    position: absolute;
}

.navdiv a {
    padding: 10px 35px;
}

.signup {
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 50px;
    background-color: var(--font-color);
    color: var(--signup-btn-col);
}

.land {
    /* background: rgba(0, 0, 0, 0.883); */

    width: 1250px;
    height: 550px;

    background: var(--lan-bgimg);
    /* background-color: rgba(0, 0, 0, 0.721); */
    border-radius: 20px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    margin: 0 auto;
    /* position: relative;
    right: 0;
    left: 0; */

}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border: 1px solid var(--font-color);
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.searchbar {
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 40px;
    /* left: 10px; */
    outline: none;
    float: left;
    text-align: left;
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: bolder;
    background: none;
    border: none;
    border-radius: 10px;
    /* border: 1px solid black; */
}

::placeholder {
    /* margin-left: -12%; */
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 5%;
    color: var(--font-color);
    letter-spacing: 0.1rem;
    /* border: 1px solid black; */
}

.search-icon {
    font-size: 1.5rem;
    margin-left: 94%;
    cursor: pointer;
    color: var(--font-color);
}

.tempDetail {
    position: absolute;
    margin-top: 0.6%;
    margin-left: 37%;
}

.temp {
    font-size: 3rem;
    color: var(--font-color);
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-top: -4%;
    display: flex;
}

.temp span {
    font-size: 3rem;
}

.weather-i {
    width: 65px;
    height: auto;
    position: absolute;
    left: 42%;
    top: 0%;
    margin-top: -3%;
}

.loca {
    display: flex;
    flex-direction: row;
    margin-left: -12%;
    margin-top: -3%;
}

.location-pin {
    width: 40px;
    margin-top: 4%;
    position: absolute;
    /* position: absolute;
    left: -28%;
    top: 85%; */
}

.location {
    font-size: 3rem;
    color: var(--font-color);
    font-weight: bolder;
    margin-left: 12%;
    margin-top: 1%;

}

.time {
    /* border: 1px solid white; */
    width: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1%;
    margin-left: -30%;
}

.live-time {
    color: var(--font-color);
    font-size: 2rem;
    margin-left: -10%;
    font-family: 'Poppins', sans-serif;
    /* border-right: 1px solid black ; */

}

.border-r {
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 5%;
    color: var(--font-color);
    margin-top: -1%;
}

/* .search-icon :hover{
   
} */

.live-day {
    width: 100%;
    margin-left: 10%;
    font-size: 1.5rem;
    margin-top: 3%;
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
}

.forecast {
    margin-top: 16%;
    margin-left: 2%;
    width: 470px;
    height: 270px;
    border-radius: 25px;
    /* border: 1px solid black; */
    background: linear-gradient(143.86deg, var(--forecast-bg-1) 1.34%, var(--forecast-bg-) 97.09%);
    background: transparent;
    mix-blend-mode: darken;
    mix-blend-mode: color-dodge;
    box-shadow: 0px 10px 4px var(--forecast-box-shadow);
    backdrop-filter: blur(10px);
}

.forecast h3 {
    margin-left: 10%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--font-color);


}

.forecast hr {
    margin-left: 18%;
    width: 70%;
}

.weather-tbl {
    width: 100%;
    margin-top: 2%;
    margin-left: 3%;

}

.day-forecast-img {
    align-items: center;
    /* border: 1px solid white; */
    width: 50px;
    filter: contrast(180%);

    /* font-size: 10px; */
}

td {
    color: var(--font-color);
    padding: 1.5%;
    /* width: 80px; */
}


.hourly-forecast {
    margin-top: -17.2%;
    margin-left: 40%;
    float: right;
    position: absolute;
    width: 650px;
    height: 150px;
    border-radius: 25px;
    background: linear-gradient(143.86deg, var(--forecast-bg-1) 1.34%, var(--forecast-bg-) 97.09%);
    background: transparent;
    mix-blend-mode: color-dodge;
    box-shadow: 0px 10px 4px var(--forecast-box-shadow);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.now-div {
    width: 25%;
    /* border: 1px solid white; */
}

.forecast-hours {
    width: 70%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    margin-top: 2%;

}

.hours {
    width: 25%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourImg {
    margin-top: -1%;
    width: 50%;
    filter: contrast(180%);
}

.hourImg1 {
    margin-top: -8%;
    margin-left: 25%;
    width: 50%;
    filter: contrast(150%);
}

.hour-p {
    text-align: center;
    color: var(--font-color);
    margin-top: 20%;
    font-size: 16px;
    font-weight: bolder;
}

.date {
    margin-left: 75%;
    margin-top: -5%;
    width: 40%;
}

.now-p {
    color: var(--font-color);
    font-size: 2rem;
    text-align: center;
}

.div-now {
    margin-top: 10%;
}

.c-date {
    color: var(--font-color);
    font-size: 2.54rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.forecast-para {
    margin-top: 3%;
    margin-left: 10%;
    width: 200%;
    display: flex;
    /* border: 1px solid white; */
}

.forecast-para-edit-span {
    font-size: 1rem;
    color: var(--font-color);
    margin-left: 2%;
}

.forecast-para-edit {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--font-color);

    /* margin-top: 3%; */
}

/* Cities================================================================================== */

.cities {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    position: relative;
    font-family: sans-serif;
    margin-top: 4%;
    /* margin-left: 8%; */
    margin-bottom: 1%;
}

.container::before,
.container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
}

/* .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  } */
/*   
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  } */

.container .box {
    width: 11.875em;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
}

.container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .box .title {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1em
}

.container .box div strong {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    display: block;
    margin-bottom: .5rem;
}

.container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
}

.container .box div span {
    font-size: .7rem;
    font-weight: 300;
}

.container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
}

.container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}




/* Cities================================================================================== */

/* weather-d=============================================================================== */
.weather-d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    /* border: 1px solid white; */
    width: 1200px;
    height: 600px;
}

.map-d {
    /* position: absolute; */
    width: 464px;
    height: 514px;
    /* left: 8%;
margin-top: 5%; */

    border: 1px solid rgb(255, 255, 255);
    border-radius: 39px;
}

.weather-detail {
    /* position: absolute; */
    width: 720px;
    height: 350px;
    /* left: 8%; */
    margin-top: -15%;

    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up-d {
    width: 90%;
    height: 38%;
    /* border: 1px solid white; */
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.down-d {
    width: 90%;
    height: 38%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.weather-r {
    width: 30%;
    height: 90%;
    /* left: 551px; */
    /* top: 1505px; */
    margin-left: 5%;
    background: rgba(246, 246, 246, 0.14);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


.weather-r div strong {
    text-align: center;
    font-size: 1.3rem;
    display: block;
    margin-top: 0.8rem;
    margin-bottom: .3rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05rem;
}

.weather-r p {
    margin-top: 11%;
    margin-right: 10%;
    float: right;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}


.weather-r span {
    margin-left: 77%;
    font-size: 2rem;
}

.weather-d-img {
    margin-left: 2%;
    width: 45px;
    margin-top: -9%;
    filter: contrast(250%);
}

.w-d-img-div {
    position: absolute;
    /* border: 1px solid white; */
    margin-top: 1%;
    margin-left: 1%;
}



/* weather-d=============================================================================== */

/* previous-weather======================================================================== */
.previous-weather {
    /* border: 1px solid rgb(255, 255, 255); */
    width: 1000px;
    margin: 0 auto;
    height: 570px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin-bottom: 1%;
}

.p-w-tbl {
    margin: 0 auto;
    width: 100%;
}

.p-w-tbl th {
    padding: 1%;
    color: #fff;
}


.imgdata {
    width: 40px;
}

.p-w-tbl td {
    text-align: center;
    font-size: 1.2rem;
}

/* previous-weather======================================================================== */


/* historical-weather====================================================================== */
.div1 {
    margin-top: 10%;
}

.historical-weather {
    border: 1px solid;
    margin: 0 auto;
    width: 50%;
    height: 450px;
    margin-top: 4%;
    border-radius: 40px;
    margin-bottom: 1%;
    /* mix-blend-mode: color-dodge; */
    /* filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25)); */
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid white; */
}

.weather-history {
    display: none;
}

.historical-weather div h2 {
    color: #fff;
    text-align: center;
    font-size: 2.1rem;
    margin-top: -5%;
    /* border: 1px solid white; */
}

.div1 hr {
    width: 150%;
    margin-left: 20%;
    margin-top: 1%;
    color: #fff;
    border: 1px solid #FFFFFF;
    transform: rotate(0.11deg);

}


.date-picker {
    /* border: 1px solid white; */
    /* padding: 20px; */
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    margin-left: -20%;
    margin-top: 2%;
}

.his-date {
    text-align: center;
    width: 40%;
    padding: 1%;
    vertical-align: middle;
    border-radius: 10px;
    color: black;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: none;
}




.his-btn-submit {
    margin-left: 2%;
    width: 15%;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bolder;
    border: none;


}

.his-btn-submit:hover {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: black;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-duration: 1s;

}

/* .light-btn-submit:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(197, 146, 146);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-duration: 1s;
    
} */

.lbl-selctdate {
    color: white;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Martian Mono', monospace;
    margin-left: 10%;
    margin-top: 3%;
}

.history-hr {
    border: 1px solid white;
    width: 100%;
    margin-left: 6%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(138, 126, 126, 0), rgba(255, 253, 253, 0.75), rgba(0, 0, 0, 0));
    margin-top: 1.8%;
}

.weathericon-weather-des {
    /* border: 1px solid white; */
    margin-top: 0.5%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    border-bottom: 0.02px solid rgba(255, 252, 252, 0.115);
    width: 160%;
    align-items: center;
    margin-left: -30%;
}

.wea-icon {
    width: 70px;
    filter: contrast(250%);
    margin-left: -21%;
}

.wea-des {
    color: white;
    font-size: 1.6rem;
    margin-top: 2.5%;
    font-family: 'Martian Mono', monospace;
}

.weather-his-d {
    display: block;
    /* border: 1px solid white; */
    width: 180%;
    margin-left: -40%;
    margin-top: 8%;
}


.weather-his {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4%;
    border-bottom: 0.02px solid rgba(255, 252, 252, 0.031);
}

.sunrise-div {
    color: white;
    font-size: 1rem;
    font-family: 'Martian Mono', monospace;
    font-weight: bold;

}

.sunset-div {
    color: white;
    font-size: 1rem;
    font-family: 'Martian Mono', monospace;
    font-weight: bold;
    margin-left: 30%;
}

.lblsunrise1 {
    margin-left: -8%;
}

.lblsunrise3 {
    margin-left: 0%;
}

.lblsunrise6 {
    margin-left: -24%;
}

.lblsunset2 {
    margin-left: -19%;
}

.lblsunset4 {
    margin-left: -12%;
}

.lblsunset5 {
    margin-left: -260%;
}

.lblsunset6 {
    margin-left: -16%;
}

.lblsunrise5 {
    margin-left: -1%;
}

/* .lblsunrise{
    font-size: 1.4rem;
} */
/* historical-weather====================================================================== */


/* Pricing================================================================================= */
.pricing {
    width: 60%;
    height: 500px;
    border-radius: 25px;
    /* border: 1px solid white; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.free {
    width: 40%;
    height: 450px;
    border-radius: 25px;
    /* border: 1px solid white; */
    background: rgba(255, 255, 255, 0.12);
    opacity: 0.95;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 10%; */

}

.premium {
    width: 40%;
    height: 450px;
    border-radius: 25px;
    /* border: 1px solid white; */
    background: rgba(255, 255, 255, 0);
    mix-blend-mode: difference;
    opacity: 0.95;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.free strong {
    color: #ffffff;
    position: absolute;
    font-size: 1.8rem;
    margin-left: 4%;
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3rem;
}

.free .f-p {
    color: rgb(225, 226, 219);
    font-size: 1.8rem;
    color: #fff;
    margin-top: 15%;
    margin-left: 7%;
    font-family: 'Poppins', sans-serif;
}

.free .f-p span {
    font-size: 1.5rem;
}

.free h4 {
    color: #fff;
    margin-top: 1%;
    margin-left: 5%;
}

.free hr {
    width: 90%;
    margin-left: 5%;
}

.up-p {
    margin-top: -3%;
    width: 100%;
}

.package-d {
    width: 100%;
    /* border: 1px solid white; */
    display: block;
    margin-top: 5%;
    /* margin-left: 3%; */
}

.package-div {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-left: 3%;
}

.package-div .pd-p {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}

.package-div i {
    color: white;
    font-size: 2.2rem;
    /* border: 1px solid white; */
}


.pd-2 {
    margin-top: 12%;
}

.pd-3 {
    margin-top: 23%;
}

.btn-div {
    width: 100%;
    height: 10%;
    margin-top: 72%;
    /* margin-left: 37%; */
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-getstarted {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(172, 45, 174, 0.58);
    border-radius: 50px;
    width: 45%;
    height: 8%;
    font-size: 1.1rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: none;

}

.reco {
    /* border: 1px solid white; */
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reco .reco-f {
    color: white;
    font-size: 0.7rem;
    font-family: 'Prompt', sans-serif;
}


.premium strong {
    color: #fff;
    position: absolute;
    font-size: 1.7rem;
    margin-left: 4%;
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3rem;
}

.premium .f-p {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 15%;
    margin-left: 7%;
    font-family: 'Poppins', sans-serif;
}

.premium .f-p span {
    font-size: 1.5rem;
}

.premium h4 {
    color: #fff;
    margin-top: 1%;
    margin-left: 5%;
}

.premium hr {
    width: 90%;
    margin-left: 5%;
    color: white;
    border: 1px solid #FCFCFC;
}

.pd-4 {
    margin-top: 34%;
}

.pd-5 {
    margin-top: 44.2%;
}

.premium .btn-getstarted {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(251, 2, 255, 0.389);
    border-radius: 50px;
    width: 45%;
    height: 8%;
    font-size: 1.1rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border: none;

}

/* Pricing================================================================================= */

/* --------------------Contact us -------------------------------------------------------------- */

.contact-us-container {
    border: 1px solid white;
    margin: 0 auto;
    width: 50%;
    height: 450px;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: -5px -1px 4px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 40px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.contact-head {
    /* border: 1px solid white; */
    width: 100%;
    margin-top: 1%;
}

.contact-us-head {
    color: white;
    margin-left: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.135em;
    font-size: 1.7rem;
}

.fn-ln {
    /* border: 1px solid white; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;


}

.fn-ln input {
    margin-top: 1%;
    margin-left: 2%;
    width: 28%;
    height: 17%;
    background: rgba(57, 15, 176, 0.3);
    mix-blend-mode: overlay;
    /* border: 1px solid #000000; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* border-radius: 20px; */
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    border: none;
}

.input-n::placeholder {
    margin-left: -1%;
    font-size: 0.8rem;
}

.email {
    height: 50%;
    /* border: 1px solid white; */
    width: 100%;
    margin-top: -23%;
    margin-left: 8.5%;
}

.email .input-email {
    background: rgba(57, 15, 176, 0.3);
    mix-blend-mode: overlay;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 45px; */
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;

}

input {
    outline: none;
}

.input-email::placeholder {
    margin-left: 80%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.phonenumber-div {
    height: 50%;
    /* border: 1px solid white; */
    width: 100%;
    margin-top: -23.5%;
    margin-left: 8.5%;
}

.phonenumber-div .input-pn {
    background: rgba(57, 15, 176, 0.3);
    mix-blend-mode: overlay;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 45px; */
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
}

.input-pn::placeholder {
    margin-left: 30%;

    font-size: 0.8rem;
}

.message {
    height: 50%;
    /* border: 1px solid white; */
    width: 90%;
    margin-top: -23.5%;
    margin-left: -2%;
}

.input-message {
    background: rgba(57, 15, 176, 0.3);
    mix-blend-mode: overlay;
    /* border-radius: 15px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    resize: none;
    /* box-sizing: border-box; */
    overflow: hidden;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 1rem;
    width: 100%;
    height: 70%;
    /* margin-left: -5%; */
    outline: none;
    /* margin-top: 1%; */
}

.input-message::placeholder {
    font-size: 0.8rem;
    margin-left: 55%;
}



.btnsubmit {
    width: 100%;
    /* height: 20%; */
    /* border: 1px solid white; */
    margin-top: -6.5%;
}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(172, 45, 174, 0.58);
    border-radius: 50px;
    width: 20%;
    height: 7%;
    font-size: 1.1rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: none;
    margin-left: 65%;
}

/* --------------------Contact us -------------------------------------------------------------- */

/* footer----------------------------------------------------------------------------------- */

footer {
    width: 100%;
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid #000000;
    box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px 40px 0px 0px;
    height: 360px;
    border: none;

}

.img-footer {
    margin-left: 2%;
    margin-top: 1%;
}

.footer-d {
    /* border: 1px solid white; */
    padding: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

.d {
    /* border: 1px solid white; */
    margin-bottom: 1%;
}

.p1 {
    color: white;
    font-size: 1.5rem;
}

.footer-right {
    /* border: 1px solid white; */
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    margin-top: -11%;
    margin-right: 2%;
}

.r {
    /* border: 1px solid white; */
    text-align: right;
    margin-bottom: 1%;
}

.lbl-r {
    color: white;
    font-size: 1.5rem;
}

.line-hr {
    width: 94%;
    margin-left: 3%;
}

.social-media {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.sm-i {
    font-size: 2rem;
    color: white;
    margin-left: 1%;
}

/* footer----------------------------------------------------------------------------------- */


/* @media screen and (max-width: 1280px) {
    .hourly-forecast {
        margin-left: 50%;
        margin-top: -22%;
        width: 400px;
    }

} */
/* @media screen and (max-width: 1300px) {
    .hourly-forecast {
       top: -30%;
    }
} */
@media screen and (max-width: 426px) {
    .navbar {
        width: 100%;

    }

    .logo {
        width: 60px;
        margin-left: 1%;
    }

    #icon-nav {
        display: block;
    }

    .navbar h2 {
        font-size: 0.7rem;
        line-height: 20px;
        margin-top: 3%;
    }

    .navdiv {
        width: 425px;
        /* border: 1px solid white; */
        margin-top: 13%;
        margin-left: -47%;
        flex-direction: column;
        background-color: #090429f6;
        z-index: 1;
        /* left: none; */
        left: -270px;
        transition: all .5s;
    }

    .navdiv .show {
        left: none;
    }

    .signup {
        border-radius: 0;
        /* background-color: transparent; */
        /* color: white; */
    }

    .dark-light {
        margin-left: 40%;
        /* margin-bottom: 17px; */
        width: 40px;
        height: 40px;
    }

    .land {
        width: 420px;
        height: 180vh;
        /* float: left; */
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main {
        width: 410px;
    }

    .searchbar {
        left: 10%;


    }

    .temp {
        margin-top: 40%;
    }

    .temp span {
        margin-top: -1.9%;
        margin-left: 1%;
    }

    .weather-i {
        margin-top: 35%;
        width: 80px;
    }

    .loca {
        margin-top: -50%;
    }

    .location {
        margin-top: 40%;
        margin-left: -2%;
    }

    .location-pin {
        margin-top: 48%;
        margin-left: -15%;
    }

    .temp {
        font-size: 2.5rem;
    }

    .forecast {
        width: 420px;
        margin-top: 58%;
        margin-left: -1%;

    }



    .time {
        width: 150%;
        margin-top: 3%;
        margin-left: -50%;
    }

    .live-time {
        font-size: 1.5rem;
    }

    .border-r {
        font-size: 1.5rem;
    }

    .live-day {
        font-size: 1.2rem;
    }

    .hourly-forecast {
        width: 420px;
        margin-top: 140%;
        margin-left: -2%;
    }

    .forecast-para {
        width: 300%;
        margin-top: 10%;
        margin-left: 60%;
    }

    .div-now {
        margin-top: 20%;
    }

    .forecast-hours {
        margin-top: 6%;

    }

    .hour-p {
        font-size: 0.8rem;
    }

    .c-date {
        font-size: 1.5rem;
        margin-top: 140%;
        margin-left: -98%;

    }

    .weather-d {
        flex-direction: column;
        justify-content: space-between;
        width: 420px;
        margin-top: 5%;
    }

    .map-d {
        width: 370px;
        height: 270px;
    }

    .weather-detail {
        margin-top: 1%;
        width: 420px;
    }

    .weather-r {
        width: 30%;
        height: 70%;

    }

    .weather-r div strong {
        font-size: 0.7rem;
    }

    .weather-d-img {
        width: 30px;

    }

    .weather-r p {
        font-size: 1rem;
    }

    .previous-weather {
        width: 410px;
        height: 500px;

    }

    .p-w-tbl {
        padding-top: 10%;
    }

    .p-w-tbl td {
        font-size: 1rem;
    }

    .historical-weather {
        margin-top: 8%;
        width: 90%;
        height: 400px;
    }

    .historical-weather div h2 {
        font-size: 1.5rem;
    }

    .date-picker {
        width: 80%;
        margin-left: 9%;

    }

    .his-btn-submit {
        width: 25%;
        font-size: 1rem;
    }

    .his-date {
        width: 55%;
        margin-left: 10%;
        font-size: 1rem;
    }

    .lbl-selctdate {
        font-size: 1rem;
        margin-left: 30%;
    }

    .history-hr {
        margin-left: 1%;
    }

    .wea-des {
        font-size: 1.2rem;
    }

    .wea-icon {
        width: 50px;
    }

    .weathericon-weather-des {
        margin-left: 4%;
        width: 100%;
    }

    .weather-his-d {
        width: 100%;
        margin-left: 1%;
    }

    .sunrise-div {
        font-size: 0.5rem;
    }

    .sunset-div {
        font-size: 0.5rem;
    }

    .pricing {
        width: 94%;
        margin-top: -1%;
    }

    .free {
        width: 46%;
        height: 300px;
    }

    .premium {
        width: 46%;
        height: 300px;
    }

    .free strong {
        font-size: 1.2rem;
    }

    .free .f-p {
        font-size: 1.2rem;
    }

    .free .f-p span {
        font-size: 1rem;
    }

    .free h4 {
        font-size: 1rem;
    }

    .package-div {
        margin-left: 0;


    }

    .package-div .pd-p {
        font-size: 0.6rem;
    }

    .package-div i {
        font-size: 1.2rem;
    }

    .package-d {
        margin-top: 10%;
    }

    .btn-getstarted {
        width: 60%;
        height: 10%;
    }

    .premium strong {
        font-size: 1.2rem;
    }

    .premium .f-p {
        font-size: 1.2rem;
    }

    .premium .f-p span {
        font-size: 1rem;
    }

    .premium h4 {
        font-size: 1rem;
    }

    .premium .btn-getstarted {
        width: 60%;
        height: 10%;
    }

    .contact-us-container {
        width: 95%;
    }

    .contact-us-head {
        font-size: 1.5rem;
        margin-left: 10%;
    }

    .fn-ln {
        width: 80%;
        height: 10%;
        margin-left: -13%;
        margin-top: 5%;
    }

    .fn-ln input {
        width: 50%;
        height: 60%;
    }

    .email {
        width: 90%;
        height: 10%;
        margin-top: 0%;
        margin-left: 0%;
    }

    .email .input-email {
        width: 100%;
    }

    .phonenumber-div {
        width: 90%;
        height: 10%;
        margin-top: 0%;
        margin-left: 0%;
    }

    .phonenumber-div .input-pn {
        width: 50%;
    }

    .message {
        height: 40%;
        margin-top: 1%;
        margin-left: 0%;
    }

    .footer-right {
        margin-top: -25%;
    }

    .p1 {
        font-size: 1.2rem;
    }

    .lbl-r a {
        font-size: 1rem;
    }

    .social-media {
        margin-top: 10%;
    }

    .line-hr {
        margin-top: 10%;
    }

    .footer-d {
        margin-top: 10%;
    }

    .searchbar::placeholder {
        font-size: 0.7rem;
    }
}





@media screen and (max-width: 376px) {
    .navbar {
        width: 100%;

    }

    .logo {
        width: 60px;
        margin-left: 1%;
    }

    #icon-nav {
        display: block;
    }

    .navbar h2 {
        font-size: 0.7rem;
        line-height: 20px;
        margin-top: 3%;
    }

    .navdiv {
        width: 375px;
        /* border: 1px solid white; */
        margin-top: 13%;
        margin-left: -53%;
        flex-direction: column;
        background-color: #090429f6;
        z-index: 1;
        /* left: none; */
        left: -270px;
        transition: all .5s;
    }

    .navdiv .show {
        left: none;
    }

    .signup {
        border-radius: 0;
        /* background-color: transparent; */
        /* color: white; */
    }

    .dark-light {
        margin-left: 40%;
        /* margin-bottom: 17px; */
        width: 40px;
        height: 40px;
    }

    .land {
        width: 375px;
        height: 160vh;
        /* float: left; */
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main {
        width: 370px;
    }

    .searchbar {
        left: 10%;


    }

    .temp {
        margin-top: 35%;
        font-size: 2rem;
    }

    .temp span {
        margin-top: -2%;
        margin-left: 1%;
    }

    .weather-i {
        margin-top: 30%;
        width: 80px;
    }

    .loca {
        margin-top: -50%;
    }

    .location {
        margin-top: 40%;
        margin-left: -2%;
    }

    .location-pin {
        margin-top: 48%;
        margin-left: -15%;
    }



    .forecast {
        width: 365px;
        margin-top: 58%;
        margin-left: -1%;

    }



    .time {
        /* border: 1px solid white; */
        width: 130%;
        margin-top: 3%;
        margin-left: -42%;
    }

    .live-time {
        font-size: 1.2rem;
    }

    .border-r {
        font-size: 1.3rem;
    }

    .live-day {
        font-size: 1rem;
    }

    .hourly-forecast {
        width: 370px;
        margin-top: 150%;
        margin-left: -2%;
    }

    .forecast-para {
        width: 300%;
        margin-top: 10%;
        margin-left: 60%;
    }

    .div-now {
        margin-top: 20%;
    }

    .forecast-hours {
        margin-top: 10%;

    }

    .hour-p {
        font-size: 0.6rem;
    }

    .c-date {
        font-size: 1.2rem;
        margin-top: 160%;
        margin-left: -80%;

    }

    .forecast-para-edit {
        /* border: 1px solid white; */
        font-size: 0.7rem;
    }

    .forecast-para-edit-span {
        font-size: 0.7rem;
    }

    .weather-d {
        flex-direction: column;
        justify-content: space-between;
        width: 370px;
        margin-top: 5%;
    }

    .map-d {
        width: 350px;
        height: 270px;
    }

    .weather-detail {
        margin-top: 1%;
        width: 370px;
    }

    .weather-r {
        width: 40%;
        height: 70%;

    }

    .weather-r div strong {
        font-size: 0.6rem;
    }

    .weather-d-img {
        width: 24px;

    }

    .weather-r p {
        font-size: 0.8rem;
    }

    .previous-weather {
        width: 365px;
        height: 500px;

    }

    .p-w-tbl {
        padding-top: 10%;
    }

    .p-w-tbl td {
        font-size: 0.8rem;
    }

    .historical-weather {
        margin-top: 8%;
        width: 90%;
        height: 320px;
    }

    .historical-weather div h2 {
        font-size: 1.5rem;
    }

    .date-picker {
        width: 95%;
        margin-left: 4%;

    }

    .his-btn-submit {
        width: 25%;
        font-size: 0.8rem;
    }

    .his-date {
        width: 55%;
        margin-left: 10%;
        font-size: 0.8rem;
    }

    .lbl-selctdate {
        font-size: 0.8rem;
        margin-left: 30%;
    }

    .history-hr {
        margin-left: 1%;
    }

    .wea-des {
        margin-left: -12%;
        font-size: 0.8rem;
    }

    .wea-icon {
        width: 35px;
    }

    .weathericon-weather-des {
        margin-left: 4%;
        width: 100%;
    }

    .weather-his-d {
        width: 100%;
        margin-left: 1%;
    }

    .sunrise-div {
        font-size: 0.5rem;
    }

    .sunset-div {
        font-size: 0.5rem;
    }

    .lblsunrise5 {
        margin-left: -12%;
    }

    .lblsunrise6 {
        margin-left: -29%;
    }

    .lblsunrise3 {
        margin-left: -10%;
    }

    .lblsunrise1 {
        margin-left: -15%;
    }

    .lblsunset5 {
        margin-left: -280%;
    }

    .lblsunset4 {
        margin-left: -20%;
    }

    .lblsunset2 {
        margin-left: -25%;
    }

    .pricing {
        width: 92%;
        margin-top: -1%;
    }

    .free {
        width: 44%;
        height: 300px;
    }

    .premium {
        width: 44%;
        height: 300px;
    }

    .free strong {
        font-size: 1rem;
    }

    .free .f-p {
        font-size: 1rem;
    }

    .free .f-p span {
        font-size: 0.8rem;
    }

    .free h4 {
        font-size: 0.8rem;
    }

    .package-div {
        margin-left: 0;


    }

    .package-div .pd-p {
        font-size: 0.52rem;
    }

    .package-div i {
        font-size: 1rem;
    }

    .package-d {
        margin-top: 10%;
    }

    .btn-getstarted {
        width: 60%;
        height: 10%;
        font-size: 0.8rem;
    }

    .premium strong {
        font-size: 1rem;
    }

    .reco .reco-f {
        font-size: 0.54rem;
        margin-top: 10%;
    }

    .premium .f-p {
        font-size: 1rem;
    }

    .premium .f-p span {
        font-size: 0.8rem;
    }

    .premium h4 {
        font-size: 0.8rem;
    }

    .premium .btn-getstarted {
        width: 60%;
        height: 10%;
        font-size: 0.8rem;
    }

    .contact-us-container {
        width: 85%;
    }

    .contact-us-head {
        font-size: 1.5rem;
        margin-left: 10%;
    }

    .fn-ln {
        width: 75%;
        height: 10%;
        margin-left: -13%;
        margin-top: 5%;
    }

    .fn-ln input {
        width: 50%;
        height: 60%;
        margin-left: -2%;
        margin-right: 4%;
    }

    .email {
        width: 90%;
        height: 10%;
        margin-top: 0%;
        margin-left: 0%;
    }

    .email .input-email {
        width: 100%;
    }

    .phonenumber-div {
        width: 120%;
        height: 10%;
        margin-top: 0%;
        margin-left: 29%;
    }

    .phonenumber-div .input-pn {
        width: 60%;
    }

    .message {
        height: 40%;
        margin-top: 1%;
        margin-left: 0%;
    }

    .input-message::placeholder {
        font-size: 0.5rem;
    }

    .input-pn::placeholder {

        font-size: 0.6rem;
    }

    .input-email::placeholder {

        font-size: 0.6rem;
    }
    .btn-submit{
        font-size: 0.8rem;
    }
    footer{
        height: 330px;
    }
    .footer-right {
        margin-top: -26%;
    }

    .p1 {
        font-size: 1rem;
    }

    .lbl-r a {
        font-size: 0.8rem;
    }

    .social-media {
        margin-top: 10%;
    }

    .line-hr {
        margin-top: 10%;
    }

    .footer-d {
        margin-top: 5%;
    }

    .searchbar::placeholder {
        font-size: 0.7rem;
    }
}

/* @media screen and (max-width:1440px) {
    .navbar {
        width: 100%;
    }

    .land {
        width: 90%;
    }

} */